:root {

  /* Font */
  --defaultFont: 'Rubik', sans-serif;
  --defaultFontSize: 14px;
  --defaultFontWeight: 400;
  --defaultIconSize: 18px;

  /* Colors (Priority) */
  --primary: #2BBCBC;
  --secondary: #7460EE;
  --tertiary: #BC712B;

  /* Border radius */
  --cornerRadius: 5px;
  
}

#root-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}