:root {

  /* Font */
  --default-font: 'Rubik', sans-serif;
  --default-font-size: 14px;
  --default-font-weight: 400;
  --defaultIconSize: 18px;

  /* Colors (Priority) */
  --primary: #2BBCBC;
  --primary-opacity: #2BBCBC4D;
  --secondary: #7460EE;
  --secondary-opacity: #7460EE4D;
  --tertiary: #BC712B;
  --tertiary-opacity: #BC712B4D;

  /* Border radius */
  --corner-radius: 5px;
  
}

#root-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}